*{
    margin: 0;
    padding: 0;
}
header{
    background: #FFF8F3;
}
section{
    margin-top: 30px;
}
.top-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.orange{
    color: orange;
}
.name{
    padding-left: 50px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    padding: 5px 15px;
    margin: 3px;
}
.btn-primary{
    padding: 5px 20px;
    background: orangered;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 24px;
    border-radius: 4px;
}
.top-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    
}
.info{
    
    width: 400px;
}
.bg-container{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position:left,right bottom;
    padding:30px 30px;
    padding-bottom: 0px;
}
.info h1{
    font-size: 45px;
}
.info h2{
    font-size: 65px;
}
.info p{
    color:#757575;
    margin-top: 24px;
}
.about-me{
    margin: auto;
    padding: 50px;
    text-align: center;
    background: #FFF8F3;
    width: 1100px;
    margin-top:70px;
    border-radius: 8px;
}
.description h2{
    font-size: 35px;
}
.description{
    width: 827px;
    text-align: center;
    margin: auto;
    color: #757575;
    margin-bottom: 20px;
    padding: 10px 0;
}
.description h2{
    color: black;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info h4{
  color: #757575;
}