*{
    margin: 0;
    padding: 0;
}
header{
    background: #FFF8F3;
}
section{
    margin: 80px 20px;
}
.top-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.orange{
    color: orange;
}
.name{
    padding-left: 50px;
    font-size: 35px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    padding: 5px 15px;
    margin: 3px;
}
.btn-primary{
    padding: 5px 20px;
    background: orangered;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 24px;
    border-radius: 4px;
    
}
.top-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    
}
.info{
    
    width: 400px;
}
.bg-container{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position:left,right bottom;
    padding:30px 30px;
    padding-bottom: 0px;
}
.info h1{
    font-size: 45px;
}
.info h2{
    font-size: 65px;
}
.info p{
    color:#757575;
    margin-top: 24px;
}
.about-me{
    margin: auto;
    padding: 50px;
    text-align: center;
    background: #FFF8F3;
    width: 1100px;
    margin-top:70px;
    border-radius: 8px;
}
.description h2{
    font-size: 35px;
}
.description{
    width: 827px;
    text-align: center;
    margin: auto;
    color: #757575;
    margin-bottom: 20px;
    padding: 10px 0;
}
.description h2{
    color: black;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info h4{
  color: #757575;
}
/* what i do styles */
.what-do{
    text-align: center;
    font-size: 35px;
    margin: 30px 0;
}
.cart-container{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.single-cart{
    height: 300px;
    width: 265px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 20px;
}
.cart-title h2{
    margin: 20px 0;
    
}
.single-cart p{
    color: #757575;
}
/* resume part style */
.cv-content{
    display: flex;
}
.education{
    width: 45%;
    margin: auto;
}
.exprience{
    width: 45%;
    margin: auto;
}
.qualities{
    padding: 15px 0px;

}
.qualities span,p{
    color: #757575;
    margin-top: 10px;
}
.qualities h3{
    font-size: 25px;
    color: #888787;;
}
.center-cv{
    text-align: center;
    margin: 40px 0;
}
/* footer part */
.contact-me{
    display: flex;
    background: #FFF8F3;
}
.connect{
 padding: 100px;
}
.connect h3,.message h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.connect p{
    margin: 20px 0;
}
.message{
    padding: 100px;
}
.message input,textarea{
    width: 100%;
    padding: 20px;
    border: none;
    box-shadow: 10px 5px 12px gray;
    margin: 5px;
    border-radius: 6px;
}
.submit{
    margin-top: 20px;
}